body {
  background: #1a93bb;
}
p {
  color: black;
  font-weight: bolder;
  text-align: center;
  text-decoration: overline underline;
  text-shadow: 10px 10px 5px;
  font-family: monospace;
  color: #084479;
  text-rendering: geometricPrecision;
  font-size: 45px;
}
h1 {
  font-weight: bolder;
  text-align: center;
  text-decoration: overline underline;
  text-shadow: 10px 10px 5px;
  font-family: monospace;
  color: #084479;
  text-rendering: geometricPrecision;
  font-size: 40px;
}
ol {
  color: black;
  font-weight: bolder;
  text-shadow: 8px 8px 5px;
  font-family: sans-serif;
  text-rendering: geometricPrecision;
  font-size: 20px;
}
.myImage {
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  padding: 20px;
}
h4 {
  color: black;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  font-family: monospace;
}
